<root>
   <name>QRTicket</name>
   <key>qrticket</key>
   <state>stable</state>
   <logo>https://github.com/Humans-Connexion/qrticket/blob/master/logo.jpeg</logo>
   <description>
      <short>
         <fr><![CDATA[Personnalisez les champs de l'ordinateur et ajoutez des fonctionnalités pour la création de code QR.]]></fr>
         <en><![CDATA[Customize computer's fields and add functionality for QR code creation.]]></en>
      </short>
      <long>
         <fr><![CDATA[Personnalisez les champs de l'ordinateur et ajoutez des fonctionnalités pour la création de code QR.]]></fr>
         <en><![CDATA[Customize computer's fields and add functionality for QR code creation.]]></en>
      </long>
   </description>
   <homepage>https://github.com/Humans-Connexion/qrticket</homepage>
   <download>https://github.com/Humans-Connexion/qrticket/releases</download>
   <authors>
      <author>Humans-Connexion</author>
   </authors>
   <versions>
      <version>
         <num>0.4.3</num>
         <compatibility>~10.0.6</compatibility>
         <download_url>https://github.com/Humans-Connexion/qrticket/archive/refs/tags/0.4.3.zip</download_url>
      </version>
      <version>
         <num>0.4.2</num>
         <compatibility>~10.0.5</compatibility>
         <download_url>https://github.com/Humans-Connexion/qrticket/archive/refs/tags/0.4.2.zip</download_url>
      </version>
      <version>
         <num>0.4.1</num>
         <compatibility>~10.0.5</compatibility>
         <download_url>https://github.com/Humans-Connexion/qrticket/archive/refs/tags/0.4.1.zip</download_url>
      </version>
      <version>
         <num>0.3.3</num>
         <compatibility>~10.0.5</compatibility>
         <download_url>https://github.com/Humans-Connexion/qrticket/archive/refs/tags/0.3.3.zip</download_url>
      </version>
      <version>
         <num>0.2.5</num>
         <compatibility>~10.0.5</compatibility>
         <download_url>https://github.com/Humans-Connexion/qrticket/archive/refs/tags/0.2.5.zip</download_url>
      </version>
      <version>
         <num>0.2.4</num>
         <compatibility>~10.0.5</compatibility>
         <download_url>https://github.com/Humans-Connexion/qrticket/archive/refs/tags/0.2.4.zip</download_url>
      </version>
   </versions>
   <langs>
      <lang>None</lang>
   </langs>
   <license><![CDATA[ AGPL v3+ ]]></license>
</root>